/* UTILS */

:root {
  --white-color: #F5F5F5;
  --black-color: #212121;
  --darkBlue-color: #2C3E50;
  --red-color: #fe3232;
  --orange-color: #FD5F35;
  --tangerine-color: #FB8B37;
  --gold-color: #F9B839;
  --yellow-color: #f7e43b;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_lightitalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_bookitalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_mediumitalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRnd';
  src: url('/fonts/gothamrnd_bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* General reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GothamRnd', sans-serif;
}


body {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the login container horizontally and vertically */
  min-height: 100vh;
  
  background: linear-gradient(-45deg, var(--red-color), var(--gold-color), var(--tangerine-color), var(--orange-color), var(--yellow-color));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Login container styles */
.login-container {
  min-width: 380px;
  border-radius: 1rem;
  padding: 2.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1rem);
  margin: auto;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Form layout */
form {
  display: flex;
  flex-direction: column;
}

/* Heading style */
h2 {
  font-size: 2rem;
  color: var(--black-color);
  margin-bottom: 2.5rem;
}

/* Input field styling */
.input-field {
  position: relative;
  border-bottom: 2px solid var(--black-color);
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--black-color);
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--black-color);
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-180%);
}

/* Link styles for forgotten password and creating an account */
.forget-createAccount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--black-color);
}

.forget-createAccount a {
  color: var(--black-color);
  text-decoration: none;
  transition: text-decoration 0.3s;
}

.forget-createAccount a:hover {
  text-decoration: underline;
}

/* Button styling */
button {
  position: relative;
  background: transparent;
  color: var(--black-color);
  border: 2px solid var(--black-color);
  font-weight: 500;
  padding-block: .5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-block: 2.5rem;
  transition: background-color 0.3s;
  overflow: hidden;
}

button:hover {
  background-color: rgba(255, 255, 255, .5);
}

/* Container for input fields */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; /* Spacing between fields */
}
